// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  clear: both;
  color: $mid-grey;
  background-color: $light-grey;
  font-size: $text-small;
  text-align: center;
  height: 100px;
  padding-top: $med-spacing;
}