// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  @include secondary-body-font;
  clear: both;
  background-color: $light-grey;
  text-align: center;
  height: 100px;
  padding-top: $med-spacing;

  a.footer-link {
    margin-left: 5px;
  }

}

