// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.site_header {
  width: $site-width;
  margin: $small-spacing auto;
}

.logo {
  display: inline-block;
}

.header-photo {
  vertical-align: middle;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: -5px;
}
