// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.site_header {
  width: 980px;
  margin: auto;
}

.logo {
  display: inline-block;
}
