// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.banner {
  height: 320px;
  max-width: 100%;
  display: block;
  text-align: center; 
  position: relative;
  background: url('/assets/banner.png') no-repeat center;
}

.tagline {
  font-size: 60px;
  font-weight: 700;
  padding-top: 140px;
  color: $light-grey;
  margin-bottom: 50px;
}

.overlay_container_front_page {
  z-index: 1;
  width: 300px;
  height: 200px;
  position: absolute; 
  margin-top: $small-spacing;

  img {
    width: 300px;
    height: 200px;
    margin-top: $small-spacing;
    margin-right: $med-spacing;

    &:last-of-type {
      margin-right: 0;
    }
  }

  img.heart {
    width: $icon-size;
    height: $icon-size;
    position: absolute; 
    right: 16px; 

    &:hover {
      width: $icon-enlarged-size;
      height: $icon-enlarged-size;
      cursor: pointer;
    }
  }
}

.hover-info a {
  z-index: 10;
}

.hover-info {
  z-index: 2;
  width: 300px;
  height: 40px;
  position: absolute;  
  bottom: 5px;  
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.mini-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: $small-spacing $small-spacing;
  position: absolute;
  bottom: 0px;
  text-align: middle;
}

.overlay-name {
  position: absolute;
  color: white;
  font-weight: bold;
  bottom: 10px;
  margin-left: $small-spacing;
  left: 50px;
  z-index: 500;
  width: 220px;
}

.info {
  z-index: 500; // temp: trying to make link clickable
  bottom: 0;
  position: absolute;
  display: inline;
    a {
      color: $white;
    }
    a:hover {
      cursor: pointer;
      text-decoration: underline;
    }
}
