// -----------------------------------------------------------------------------
// This file contains styles that are specific to the profile page.
// -----------------------------------------------------------------------------


.profile_sidebar {
  width: 240px;
  margin: 0 $med-spacing 0 0;
  float: left;
}

.user_profile_image {
  object-fit: cover;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-bottom: $small-spacing;
}

.profile_info {
  text-align: center;
  padding: $small-spacing;
  border: 1px solid $divider-grey;

  textarea {
    margin: $mini-spacing auto;
    width: 100%;
  }

  a {
    @include secondary-body-font;
    padding-right: $small-spacing;
    &:hover {
      color: $maroon;
    }
  }

  .user_name {
    margin-bottom: $small-spacing;
  }
}

.main_content {
  display: inline-block;
}

.following {
  padding: $small-spacing $small-spacing 0 $small-spacing;
  border: 1px solid $divider-grey;
	margin-top: $mini-spacing;

  img {
    object-fit: cover;
    border-radius: 50%;
    margin: 0 $mini-spacing $mini-spacing 0;
    width: 40px;
    height: 40px;
  
    &:nth-of-type(4) {
      margin-right: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}
