// -----------------------------------------------------------------------------
// This file contains styles that are specific to the profile page.
// -----------------------------------------------------------------------------


.profile_sidebar {
  width: 240px;
  margin: 0 $med-spacing 0 0;
  float: left;
}

.user_profile_image {
  object-fit: cover;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-bottom: $small-spacing;
}

.profile_info {
  text-align: center;
  padding: $small-spacing;
  border: 1px solid $divider-grey;

  textarea {
    margin: $mini-spacing auto;
    width: 100%;
  }

  a {
    @include secondary-body-font;
    padding-right: $small-spacing;
    &:hover {
      color: $maroon;
    }
  }

  .user_display_name {
    margin-bottom: $small-spacing;
  }
}

.main_content {
  display: inline-block;
}

// .edit-icon {
//   background: url('/assets/icons/edit.png') no-repeat center;
//   width: $icon-size;
//   height: $icon-size;
// }
