// -----------------------------------------------------------------------------
// This file contains styles that are specific to the profile page.
// -----------------------------------------------------------------------------

.wrapper {
  background-color: $light-grey;
  overflow: hidden;
}

.shop-wrapper {
  background-color: $light-grey;
  padding: 50px;
  padding-left: 150px;
  padding-right: 150px;
}

.profile_sidebar {
  width: 240px;
  margin: 0 $med-spacing 0 0;
  float: left;
  border-radius: 4px;
}

.user_profile_image {
  object-fit: cover;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-bottom: $small-spacing;
}

.overlay_container {
  z-index: 2;
  width: 200px;
  height: 150px;
  position: absolute; 

  img {
    width: 200px;
    height: 150px;
    margin-top: $small-spacing;
    margin-right: $med-spacing;

    &:last-of-type {
      margin-right: 0;
    }
  }

  img.heart {
    width: $icon-size;
    height: $icon-size;
    position: absolute; 
    top: 16px;
    right: 16px; 

    &:hover {
      width: $icon-enlarged-size;
      height: $icon-enlarged-size;
      cursor: pointer;
    }
  }
}

.profile_info {
  background-color: $white;
  text-align: center;
  padding: $small-spacing;
  border: 1px solid $divider-grey;
  border-radius: 4px;

  textarea {
    margin: $mini-spacing auto;
    width: 100%;
  }

  a {
    @include secondary-body-font;
    padding-right: $small-spacing;
    &:hover {
      color: $maroon;
    }
  }

  .user_name {
    margin-bottom: $small-spacing;
  }
}

.main_content {
  display: inline-block;
}

.following {
  padding: $small-spacing $small-spacing 0 $small-spacing;
  border: 1px solid $divider-grey;
  border-radius: 4px;
	margin-top: $mini-spacing;
  background-color: $white;

  img {
    object-fit: cover;
    border-radius: 50%;
    margin: 0 $mini-spacing $mini-spacing 0;
    width: 40px;
    height: 40px;
  
    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}
