// -----------------------------------------------------------------------------
// This file contains styles that are specific to the shop page.
// -----------------------------------------------------------------------------


.profile_sidebar {
  width: 240px;
  margin: 0 $med-spacing 0 0;
  float: left;
}

.profile_image {
  width: 100%;
  display: block;
  border: 1px solid $divider-grey;
  padding: $med-spacing;

}

.shop_info {
  padding: $small-spacing;
  border: 1px solid $divider-grey;
	margin-top: $small-spacing;
}

.main_content {
  display: inline-block;
}

.rating {
  margin: $mini-spacing 0 $small-spacing;

	input {
		visibility: hidden;
	}
}

.icon {
	width: 36px;
}



// .my-div-icon {
//   background-color: #aaa;
//   background-image: linear-gradient(left, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
//   display: block;
//   height: 2em;
//   left: 50%;
//   margin: -1em -.05em;
//   position: absolute;
//   top: 50%;
//   width: .1em;
// }
// .my-div-icon:after {
//   background-color: skyBlue;
//   background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
//   border-radius: 50%;
//   box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
//               inset .2em .2em .2em hsla(0,0%,100%,.2),
//               inset -.2em -.2em .2em hsla(0,0%,0%,.2),
//               1.5em 1.25em .25em hsla(0,0%,0%,.15);
//   content: '';
//   height: .8em;
//   left: -.35em;
//   position: absolute;
//   top: -.65em;
//   width: .8em;
// }
// .my-div-icon:before {
//   background-color: hsla(0,0%,0%,.1);
//   box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
//   content: '';
//   height: 1.5em;
//   left: 0;
//   position: absolute;
//   top: .5em;
//   transform: rotate(57.5deg);
//   transform-origin: 50% 100%;
//   width: .1em;
// }

.my-div-icon{
  display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #f33;
	background-image: -webkit-linear-gradient(top, rgba(100,0,0,0), rgba(255,90,90,1));
	background-image: -moz-linear-gradient(top, rgba(100,0,0,0), rgba(255,90,90,1));
	background-image: -ms-linear-gradient(top, rgba(100,0,0,0), rgba(255,90,90,1));
  background-image: -o-linear-gradient(top, rgba(100,0,0,0), rgba(255,90,90,1));
	background-image: linear-gradient(to bottom, rgba(100,0,0,0), rgba(255,90,90,1));
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	box-shadow: 0 0 0 1px #c00, inset 0 1px 1px rgba(255,255,255,.6), 0 2px 2px rgba(0,0,0,.4);
	position: relative;
}

.my-div-icon:after{
  height: 10px;
	width: 2px;
	content:'';
	background: #aaa;
	display: block;
	position: absolute;
	z-index: -1;
	left: 3px;
	top: 100%;
	-webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,.1), inset 1px 0 rgba(255,255,255,.3);
	-moz-box-shadow: 0 1px 2px 1px rgba(0,0,0,.1), inset 1px 0 rgba(255,255,255,.3);
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.1), inset 1px 0 rgba(255,255,255,.3);
}




