// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.leader_box {
  background: green;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  margin: 0 30rem 0 0;
}
.shop_profile_image {
  height: 150px;
  max-width: 100%;
  display: block;
}



.example-work-photo {
  height: 150px;
  max-width: 100%;
}  



