// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include base-body-font;
  margin: auto;
}

a {
  color: $link-color;
  text-decoration: none;

  @include on-event {
    color: $link-hover-color;
    text-decoration: none;
  }
}

.divider {
  border-bottom: 1px solid $light-grey;
}

input {
  @include secondary-body-font;
  color: $base-color;             // Reuse most secondary-body-font styles, but override font color
  &::placeholder {
    color: $mid-grey;
  }
  height: 35px;
  border-radius: 4px;
  border: 1px solid $divider-grey;
  padding: 10px;

}

// Can probably consolidate with input
textarea {
  @include secondary-body-font;
  color: $base-color;             // Reuse most secondary-body-font styles, but override font color
  &::placeholder {
    color: $mid-grey;
  }
  padding: 10px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid $divider-grey;
}