
h1 {
  font-size: $base-font-size*2;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: $base-font-size*1.5; // 24px
  padding: 0px;
  margin: 0px;
}

h3 {
  font-size: $base-font-size*1.25; // 20px
  margin: 0px;
  padding: 0px;
}

p {
  @include secondary-body-font
  margin: 0;
  padding: 0;
}


.secondary_link {
  color: #8f4b5a
}