<% include head.ejs%>

    <div id='root'></div>
    <script type='text/javascript'>
      var loggedInUser =<%-JSON.stringify(user)%>
    </script>
    <script src="/dist/bundle.js"></script>

<% include foot.ejs%>