button {
  @include secondary-body-font;
  padding: $mini-spacing $small-spacing;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid $divider-grey;
  background-color: white;

  &:hover {
    background-color: $light-grey;
  }
}

.button-grey {
  background-color: $disabled-grey;
  color: white;

  &:hover {
    background-color: $maroon-light;
  }
}

.button-maroon {
  background-color: $maroon;
  color: white;

  &:hover {
    background-color: $maroon-light;
  }
}