.overlay_container {
  z-index: 2;
  width: 300px;
  height: 200px;
  position: absolute; 

  img {
    width: 300px;
    height: 200px;
    margin-top: $small-spacing;
    margin-right: $med-spacing;

    &:last-of-type {
      margin-right: 0;
    }
  }

  img.heart {
    width: $icon-size;
    height: $icon-size;
    position: absolute; 
    top: 16px;
    right: 16px; 

    &:hover {
      width: $icon-enlarged-size;
      height: $icon-enlarged-size;
      cursor: pointer;
    }
  }
}

