.shop-card {
  width: 350px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px #ddd;
  border-top: 10px solid $maroon;
  min-height: 250px;
  padding: 10px;
  margin: 20px;
  background-color: white;
}

.form_title {
  margin-bottom: 30px;
  h1 {
    margin: 40px;
  }
  p {
    margin-bottom: 100px;
    font-size: 25px;
  }
}

.card-shop-info {
  margin: 10px; 
  h3 {
    font-size: 25px;
    margin: 10px;
  }
}

.outer-card {
  display: inline-block;
}

.claim-shop-button {
  width: 100%;
  border-style: solid; 
  border-width: 100%;
  border-radius: 5px;
  background-color: $maroon;
  padding: .7em;
  color: white;
  text-decoration: none;
  margin-top: 10px;

  &:focus,
  &:hover {
    background-color: $mid-grey;
    color: white;
  }
}

.map {
  padding: 20px;
  height: 80%;
  width: 100%;
}

.yelp_form {
  display: inline-block;
  padding-bottom: 50px;
}

.claim-shop-form {
  text-align: center;
  padding-top: 50px;
}

.form_label {
  padding-left: 0px;
}

.form_input {
  margin-right: 15px;
}

.shop-search-button {
  border-style: solid; 
  border-width: 1px;
  border-radius: 5px;
  background-color: $maroon;
  padding: .7em;
  color: white;
  text-decoration: none;
  height: 40px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  
  &:focus,
  &:hover {
    background-color: $mid-grey;
    color: white;
    right: -20px;
  }
}
