.feed_container {
  width: $site-width;
  margin: auto;
  padding: $med-spacing 0 $large-spacing 0;
}

// On homepage
.recent_tattoos {
  .solo_image {
    margin-right: $med-spacing;
    display: inline-block;

    .base_pic {
      width: 300px;
      height: 200px;
      margin-top: $small-spacing;
    }

    &:nth-of-type(3) {
      margin-right: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

// On profile, shop pages
.user_stream {
  .image_grid {
    width: 700px;
    margin-bottom: $large-spacing;
  }

  .image_grid img {
    width: 200px;
    height: 150px;
    margin-top: $small-spacing;
    margin-right: $small-spacing;
   }

  .image_grid img:last-of-type {
    margin-right: 0;
  }
}

.profile_name {
  margin-bottom: $small-spacing;
}