.feed_container {
  width: $site-width;
  height: 400px;
  margin: auto;
  padding: $med-spacing 0;
}

.recent_tattoos {
  .grid_images {
    display: inline-block;
    margin-right: $med-spacing;
    
    img {
      width: 300px;
      height: 200px;
      margin-top: $small-spacing;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}