.tag-delete {
  font-size: 0.5em;
  position: absolute;
  background-color: #fefefe;
  border-radius: 6px;
  line-height: 5px;
  margin-left: 6px;
  margin-top: 10px;
  padding: 3px;
  color: #FFB300;
  }

.tag {
  margin-right: 15px;
  color: #fefefe;
  background-color: #FFB300;
  padding: 4px 20px 4px 8px;
  border-radius: 6px;
  line-height: 2.5em;
}

.imageInfo {
  clear: both;
}

.uploadedImage {
  padding: 5px;
  border: solid 1px #efefef;
}
