.tag-delete {
  font-size: 0.5em;
  position: absolute;
  background-color: $white;
  border-radius: 6px;
  line-height: 5px;
  margin-left: 6px;
  margin-top: $mini-spacing;
  padding: 3px;
  color: $placeholder;
  }

.tag {
  margin-right: 15px;
  color: $white;
  background-color: $placeholder;
  padding: 4px 20px 4px 8px;
  border-radius: 6px;
  line-height: 2.5em;
}

.imageInfo {
  clear: both;
}

.uploadedImage {
  padding: 5px;
  border: solid 1px $divider-grey;
}

.upload button {
  margin-top: $mini-spacing;
}
