.search {
  display: inline;

  form  {
    width: 520px;
    display: inline;
    position: relative;
  }

  button {
    margin-left: $small-spacing;
  }
}

.searchbox {
  width: 500px;
  height: 40px;
  margin-left: $mini-spacing;
  margin-bottom: 0;
}

.search-icon {
  background: url('/assets/icons/search.png') no-repeat center;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  top: 3px;
  right: 15px;
  position: absolute;  

  &:hover {
    cursor: pointer;
  }
}

.searchFilter {
  margin-left: $large-spacing;
}

// On search results
.searchResults {

  h2 {
    margin-bottom: $med-spacing;
  }

  .solo_image {
    margin-right: $med-spacing;
    display: inline-block;

    .base_pic {
      width: 300px;
      height: 200px;
      margin-bottom: $small-spacing;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  .solo_user_image {
    margin-right: $med-spacing;
    display: inline-block;

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}