.search {
  display: inline;

  form  {
    width: 520px;
    display: inline;
    position: relative;
  }

  button {
    margin-left: $small-spacing;
  }
}

.searchbox {
  width: 400px;
  height: 40px;
  margin-left: 0;
  margin-bottom: 0;
  position: relative;
}

.search-icon {
  background: url('/assets/icons/search.png') no-repeat center;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  top: 3px;
  right: 15px;
  position: absolute;  
  display:inline-block;

  &:hover {
    cursor: pointer;
  }
}

.searchFilter {
  margin-left: $large-spacing;
  width: 60px;
  height: 40px;
  padding-right: 0px;
  border: 1px solid $divider-grey;
  background-color: white;
  overflow: hidden;
}

// On search results
.searchResults {

  h2 {
    margin-bottom: $med-spacing;
  }

  .solo_image {
    margin-right: $med-spacing;
    display: inline-block;

    .base_pic {
      width: 300px;
      height: 200px;
      margin-bottom: $small-spacing;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  .solo_user_image {
    margin-right: $med-spacing;
    display: inline-block;

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}

.browse-button {
  border-style: solid; 
  border-width: 1px;
  border-radius: 5px;
  background-color: $mid-grey;
  padding: .7em;
  color: white;
  text-decoration: none;
  margin-left: 70px;
  }
.browse-button:focus,
.browse-button:hover {
  background-color: $maroon;
  color: white;
}