// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$base-font-family: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$base-font-size: 16px;
$base-font-weight: normal;
$base-line-height: 22px;

$text-small: 12px;

$light-grey: #fafafa;
$divider-grey: #dddddd;
$mid-grey: #6a6a6a;
$dark-grey: #2a2a2a;
$maroon: #8f4b5a;
$white: #ffffff;

$color-base: $dark-grey;
$color-link: $color-base;
$color-link-hover: $maroon;
$placeholder: #7bb05a;


$site-width: 980px;

$mini-spacing: 10px;
$small-spacing: 20px;
$med-spacing: 40px;
$large-spacing: 60px;

$icon-size: 32px;
$icon-enlarged-size: 34px;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
